body{
    font-size:14px;
    font-family: '微软雅黑';
    color:#666;
    background: url('../images/bj.gif') repeat;
}
/*公用样式*/
.pd15{
    padding:15px;
}
.pdl15{
    padding-left:15px;
}
.pdt15{
    padding-top:15px;
}
.pdr15{
    padding-right:15px;
}
.pdb15{
    padding-bottom:15px;
}
.padlr{
    padding-left:15px;
    padding-right: 15px;
}
/*头部样式*/
header{
    width:1113px;
    margin:0 auto;
}
header .logo{
    width:559px;
}
header .header-title{
    width:173px;
}
header .header-title .top{
    text-align: center;
}
header .header-title .top a{
    color: #aba50f;
}
/*菜单样式*/
nav{
    background: url("../images/navbj.jpg");
}
.nav{
    width:1113px;
    height:40px;
    margin:0 auto;
}
.nav>li{
    width:12%;
    float: left;
    height:40px;
    line-height: 40px;
    text-align: center;
    background: url('../images/navimg.jpg')  -1px 3px no-repeat;
}
.nav>li:first-child{
    background: none;
}
.nav>li a{
    width:100%;
    display: inline-block;
}
.nav>li>a:hover,.nav>li.current>a{
    color:#fff;
    background: #ab9b0d;
}
/*二级菜单*/
.nav>li{
    position: relative;
}
.nav>li>ul{
    width:100%;
    position:absolute;
    z-index:999;
    background:#ccc;
    display: none;
}
.nav>li:hover ul{
    display: block;
}
.nav>li:hover ul li:hover a{
    background:#00CC99;
    color:#fff;
}
.nav>li>ul li{
    width:100%;
    border-bottom:1px solid #333;
}
/*幻灯片*/
.banner{
    width:1113px;
    margin:0 auto;
    position: relative;
}
.banner ul.slide{
    width:1113px;
    height:454px;
    position: relative;
    overflow: hidden;
}
.banner ul.slide li{
    position: absolute;
    left:1113px;
    top:0;
}
.banner ul.slide li a,.banner ul.slide li img{
    width:1113px;
    display: block;
    height:454px;
}
.banner ul.slide li:first-child{
    left:0;
}
.banner ul.points{
    position:absolute;
    right:0;
    bottom:0;
    font-size: 0;
}
.banner ul.points li{
    width:40px;
    background:orange;
    color:#fff;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-right:1px solid #fff;
    cursor: pointer;
}
.banner ul.points li.active{
    background: #43c5cc;
}
/*在线咨询*/
.contact{
    width:100px;
    position:fixed;
    right:5px;
    top:50%;
    margin-top:-30px;
    z-index: 99999;
    background:#fff;
    padding:5px 3px;
    text-align: center;
    border:1px solid #ccc;
}
.contact img{
    width:90px;
}
.contact a{
    display: block;
    height:26px;
    line-height: 26px;
    background:#0000cc;
    color:#fff;
    border:1px solid #ccc;
    border-radius: 5px;
}
/*版权信息样式*/
.footer{

    margin-top:10px;
    padding:20px 0 35px;
}
.footer p{
    color:#4e4e4e;
    text-align: center;
    margin-top:15px;
}
.footer p a{
    color:#4e4e4e;
}
