/*内容区块*/
.content{
    width:1113px;
    margin:0 auto;
    background:url("../images/content_bg.jpg");
}
.content .content-top,.content .content-bottom{
    height:360px;
}
.content section{
    width:32%;
    height:340px;
    border:1px solid #ccc;
}
.content section:first-child,.content section:last-child{
    margin-left:1px;
    margin-right:1px;
}
.content section:nth-child(2){
    margin-left:2%;
    margin-right:1%;
}
.content section .content-title{
    height:40px;
    line-height: 40px;
    background: url("../images/content_sm_bg.jpg");
}
/*版块标题*/
.content section .content-title h3{
    text-indent: 30px;
    background: url("../images/contentimg.jpg") 10px center no-repeat;
}
/*版块内容*/
.content section .content-con{
    text-align: center;
}
.content section .content-img{
    height:140px;
    line-height: 140px;
}
.content section .content-con img{
    margin-top:20px;
    display: inline-block;
}
.content section .content-con ul.list{
    padding-top:5px;
}
.content section .content-con ul.list li{
    text-align: left;
    height:30px;
    line-height: 30px;
    text-indent: 10px;
    margin-top:5px;
    margin-left:20px;
    border-bottom: 1px dashed #ccc;
    background: url("../images/ico.jpg") 0 center no-repeat;
}
.content section .content-con a{
    width:100%;
    display: inline-block;
}
.content section .content-con .explain,.content section .content-con .companyInfo p{
    line-height:30px;
    text-align: left;
}
.content section .content-con .companyInfo p
{
    padding-left:12px;
}
/*内容视频、产品展示*/
.content .content-bottom section:last-child{
    width:66%;
    margin-left:1%;
    margin-right:1px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.content .content-bottom .more{
    width:70px;
    height:35px;
    cursor: pointer;
    background: url("../images/more.jpg") 0 center no-repeat;
}
/*无缝滚动样式*/
.content .content-bottom .slide{
    width:671px;
    margin:80px auto;
    overflow: hidden;
}
.content .content-bottom .slide .demo{
    width:800%;
}
.content .content-bottom .slide div a{
    width:130px;
    height:130px;
    background: #fff;
    padding-top:10px;
    display: inline-block;
    margin-left:5px;
}
.content .content-bottom .slide img{
    width:120px;
    height:100px;
    line-height: 100px;
}